.logo-container {
}

.logo-container h5 {
  color: #fff;
  font-size: 20px;
}

.ant-layout-content {
  margin: 40px;
}

.list-container {
  display: flex;
  justify-content: center;
  .title-container {
  }

  .content-wrapper {
    .card-item {
      max-width: 700px;
      min-width: 699px;

      .card-container {
        display: flex;
        justify-content: space-between;

        button {
          margin-left: 10px;
        }
      }
    }
  }
}
